
/* open-sans-regular - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
src: url('../fonts/open-sans-v34-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v34-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
src:url('../fonts/open-sans-v34-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/open-sans-v34-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
src:url('../fonts/open-sans-v34-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/open-sans-v34-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-300 - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Raleway';
font-style: normal;
font-weight: 300;
src:url('../fonts/raleway-v28-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/raleway-v28-latin-300.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-500 - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
src:url('../fonts/raleway-v28-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/raleway-v28-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
src:url('../fonts/raleway-v28-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/raleway-v28-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans' 'Relaway';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 170px 0;
}
/* block 1 */
.header {
    width: 100%;
    max-width: 1510px;
    margin: 0 auto;
    background: #000000;
}
.header_container {
    width: 100%;
    max-width: 1510px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.header_list {
    display: flex;
    flex-wrap: wrap;
}
.header_item {
    margin-right: 50px;
}
.header_item:last-child {
    margin-right: 0px;
}
.header_link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
    text-decoration: none;
    color: #FFFFFF;
}
.header_link:hover, .header_link:focus, .header_link:active {
    opacity: 0.75;
}
.contaier {
    width: 100%;
    max-width: 1510px;
    height: 100vh;
    margin: 0 auto;
    background: url(../img/intro.jpg) no-repeat center;
    display: flex;
}
.intro_information {
    width: 100%;
    max-width: 1170px;
    margin: 255px 170px 0;
    display: flex;
}
.intro_contet {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.intro_logo {
    width: 270px;
    height: 100px;
    margin-bottom: 50px;
}
.intro_title {
    width: 670px;
    height: 168px;
    margin-bottom: 97px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.intro_title::after {
    width: 170px;
    content: "";
    display: block;
    border: 1px solid #FFFFFF;
    margin-top: 55px;
}
.intro_text {
    width: 270px;
    height: 42px;
    margin-bottom: 42px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.color {
    color:#EC7979;
}
.intro_button {
    width: 270px;
    height: 58px;
    background: none;
    color: #FFFFFF;
    border: 2px solid #FFFFFF ;
}
.signin {
    width: 470px;
    height: 440px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.singin_title {
    width: 367px;
    height: 90px;
    margin: 0 50px 80px 53px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 90px;
    text-transform: uppercase;
    color: #333333;

}
.intro_input {
    width: 370px;
    height: 19px;
    align-items: center;
    margin: 0 50px 52px;
}
.intro_input:last-child {
    margin-bottom: 55px;
}
.signin_button {
    width: 100%;
    max-width: 470px;
    height: 60px;   
    background: #EC7979;
    color: #FFFFFF;
    border: none;
    border-radius: 0px 0px 10px 10px;  
}
.signin_button:hover {
    background: #AB4949;
    border-radius: 0px 0px 10px 10px;;
}
.signin_button:active {
    background: #EC7979;
    border-radius: 0px 0px 10px 10px;
}


/* block 2 */

.container_media {
    width: 100%;
    max-width: 1510px;
    margin: 0 auto;
    background: #F8EFEF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.media_content {
    width: 100%;
    max-width: 470px;
    margin: 0 0 18px 170px;
    display: flex;
    flex-direction: column;
}
.media_title {
    width: 470px;
    height: 60px;
    margin-bottom: 18px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 60px;
    color: #333333;
}
.media_text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}
.media_logos {
    width: 670px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 170px;
}
/* Block 3  */
.tabs_container {
    width: 100%;
}
.tabs__header {
    display: flex;
    margin-top: 99px;
    margin-left: 170px;
}
.tab__1 {
    width: 230px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    align-items: center;
    border: 1px solid #C6CBCD;
    border-bottom: 0px solid white;
    border-radius: 5px 5px 0px 0px;
}
.tab__2 {
    width: 184px;
    height: 40px;
    line-height: 40px;
    align-items: center;
    text-align: center;
}
.tab__2::after {
    content: "";
    display: block;
    width: 300px;
    height: 1px;
    margin-left: 0;
    background-color:#C6CBCD ;
}
.tabs__content {
    box-sizing: border-box;
    border: 1px solid #C6CBCD;
    border-top: #FFFFFF;
    width: 1170px;
    height: 501px;
    margin-left: 170px;
    margin-right: 170px;
    margin-bottom: 50px;
}
.tabs__title {
    width: 570px;
    height: 124px;
    margin-left: 100px;
    margin-bottom: 27px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;
    color: #000000;
}
.tabs__subtitle {
    width: 570px;
    height: 210px;
    margin-left: 100px;
    margin-bottom: 27px;
}
.tabs__subtitle_text {
    margin-top: 2em; 
    margin-bottom: 1em; 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
}
.Tabs__buttom {
    width: 270px;
    height: 58px;
    margin-left: 100px;
    margin-bottom: 54px;
    background-color:#EC7979;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.tabs__pic{
    position: absolute;
    margin-left: 700px;
}

/* Block 2 */
.awesome_container{
    width: 100%;
}
.awesome_content{
    width: 1170px;
    height: 665px;
    margin: 0 170px 58px 170px;
}
.awesome__header {
    width: 1170px;
    margin-bottom: 110px;
    max-width: 1169px;
    text-align: center;
}
.awesome__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    color: #000000;
}
.awesome__title::after {
    content: "";
    display: block;
    width: 170px;
    height: 1px;
    margin: 40px auto;
    background-color: #EC7979;
}
.awesom__text {
    margin-bottom: 110px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #86878B;
}
/* Services */
.services {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
}
.services__item_1 {
    width: 370px;
    height: 383px;
    position: absolute;
    top: 71px;
    left: 0;
}
.services__item_2 {
    width: 370px;
    height: 383px;
    position: absolute;
    top: 71px;
    left: 401px;
}
.services__item_3 {
    width: 370px;
    height: 383px;
    position: absolute;
    top: 71px;
    left: 801px;
}
.services_icon {
    width: 66px;
    height: 66px;
    margin-bottom: 39px;
    border: 1px solid #EC7979;
    border-radius: 50%;
}
.services__title {
    width: 369px;
    height: 100px;
    margin-bottom: 8px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.services__text {
    width: 370px;
    height: 105px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}

/* Block 3 */
/* container */
.Pricing_container {
    width: 1508px;
    height: 900px;
    background-color: #F5F5F5;
    margin-left: 2px;
    padding: 50px 0 0 0;
    position: relative;
    top:0;
    left: 0;
}
/* content */
.Pricing_header {
    width: 100%;
    margin-top: 50px;
    max-width: 1170px;
    margin: 0 auto 59px;
    text-align: center;
}
.Pricing_title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #000000;
}
.Pricing_title::after {
    content: "";
    display: block;
    width: 170px;
    height: 1px;
    margin: 40px auto;
    background-color: #EC7979;
}
.Pricing_text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #86878B;
}

/* Block 4 */

.price_basic {
    position: absolute;
    top: 245px;
    left: 168px;
    width: 370px;
    height: 510px;
}
.price_optima {
    position: absolute;
    top:225px;
    left:568px;
    width: 370px;
    height: 510px;
}
.price_pro {
    position: absolute;
    top: 245px;
    left: 968px;
    width: 370px;
    height: 510px;
}
.box__1 {
    width: 370px;
    height: 60px; 
    margin-top: 79px;
    background-color: #333333;
    border: 2px solid #F5F5F5;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    text-transform: capitalize;
    color: #F5F5F5;
}
.box__2 {
    width: 369px;
    height: 100px;
    background: #333333;
    border: 2px solid #F5F5F5;
    font-family:'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 100px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.box__3 {
    width: 370px;
    height: 50px;
    background-color:#333333;
    border: 2px solid #F5F5F5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 50px;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
.box__4 {
    width: 370px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 50px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
color: #86878B;
}

/* Block 5 */

.Customer_container {
    width: 100%;
}
.customer_content {
    width: 1171px;
    height: 630px;
    margin: 0px 170px 64px 170px;
}
.customer_header {
    width: 100%;
    max-width: 1170px;
    margin-top: 50px;
    margin-bottom: 83px;
}
.customer_title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
}
.customer_title::after {
    content: "";
    display: block;
    width: 170px;
    height: 1px;
    margin: 40px auto;
    background-color: #EC7979;
}
.customer_text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #86878B;
}
.Commentarys {
    position: relative;
    top: 0;
    left: 0;
}
.commentary_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 336px;
    border-radius: 10px;
}
.commentary_content {
    width: 370px;
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    background: #E2E2E2;
    border-radius: 10px;
}
.commentary_text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #86878B;
}
.customer_triangle {
    position: absolute;
    top: 179px;
    left: 70px;
}
.customer_foto {
    position: absolute;
    top: 246px;
    left: 0;
}
.customer_name {
    position: absolute;
    width: 269px;
    height: 54px;
    top: 246px;
    left: 100px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #000000;  
}
.customer_position {
    width: 270px;
    height: 21px;
    position: absolute;
    top: 315px;
    left: 100px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;  
}
.commentary_block_2 {
    position: absolute;
    top: 0;
    left: 400px;
    width: 370px;
    height: 336px;
    border-radius: 10px;
}
.commentary_block_3 {
    position: absolute;
    top: 0;
    left: 800px;
    width: 370px;
    height: 336px;
    border-radius: 10px;
}

/* Block 6 */

.axure_container {
    width: 100%;
    max-width: 1510px;
    height: 442px;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
}
.axure_image {
    position: relative;
	height: 442px;
	width: 100%;
	background: url(/image.jpeg) 0px 0px no-repeat;
	background-size: cover;
}
.axure_image:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .5);
}
.axure_header {
    position: absolute;
    top: 50px;
    width: 100%;
    max-width: 1170px;
    height: 150px;
    margin: 0 171px 0 170px;
}
.axure_title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 150px;
    align-items: center;
    text-align: center;
    color: white;
}
.axure_text {
    width: 1169px;
    height: 21px;
    position: absolute;
    top: 240px;
    left: 171px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: white;
}
.axure_button {
    position: absolute;
    top: 334px;
    left: 570px;
    width: 370px;
    height: 58px;
    border: medium none;
    background-image: none; 
    background: transparent;
    float: left;
    background-color: transparent;
    color: white;
    border: 2px solid #FFFFFF;
}

/* BLock 7 */

.contact_container {
    width: 100%;
}
.contact_content {
    width: 100%;
    max-width: 1170px;
    height: 622px;
    margin: 50px 170px 50px;

}
.contact_header {
width: 1170px;
margin: 0 auto;
}
.contact_title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 150px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.contact_title::after {
    content: "";
    display: block;
    width: 170px;
    border: 1px solid #EC7979;
    margin: 0 auto 40px;
}
.contact_text {
    margin-bottom: 89px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center; 
    color: #86878B;
}
.contact_information {
    width: 1170px;
    display: flex;  
    margin-bottom: 50px;
}
.contact_account {
    display: flex;
    flex-direction: column;
    width: 570px;
}
input {
    width: 571px;
    height: 19px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 69px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}
input:last-child {
    margin-bottom: 0;
}
.contact_posts {
    width: 570px;
    margin-left: 30px;
}
.contact_post {
    text-align: left;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}
.contact_post::after {
    content: "";
    display: block;
    width: 569px;
    border: 1px solid #BDBDBD;
    margin-top: 173px;
}
.contact_button {
    width: 370px;
    height: 58px;
    background: #EC7979;
    margin: 0 399px 0 401px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}
.footer {
    background: #000000;
    width: 100%;
    max-width: 1510px;
    margin: 0 auto;
    height: 164px;
    display: flex;
    flex-direction: column;
}
.footer_logos {
    max-width: 552px;
    display: flex;
    justify-content: space-between;
    margin: 35px 485px 28px;
}
.footer_subtitle {
    max-width: 1169px;
    height: 21px;
    margin: 0 170px 27px;
}
.footer_text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}